@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

form{
    padding: 0px 54px;
    /* margin: 3px; */
    margin-top: 19px;
    .centrar{
        text-align: center;
    }
}
span{
    text-decoration: underline;
    font-weight: bold;
}
.passwordinput{
    position:relative;
}
.passwordinput > span{
    position: absolute;
    right: 60px;
    top:20px;
    cursor: pointer;
}

.errors{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    z-index: 1;
    font-size: 12px;
    font-family: "Open Sans",sans-serif !important;
    line-height: 16px;
    letter-spacing: 0.4px;
    box-shadow: 0px 10px 12px rgba(0, 46, 113, 0.12);
    border-radius: 4px;
    padding-left: 16px;
    width: 100%;
}

.material-icons-outlined {
    display: inline-flex;
    vertical-align: middle;
    size: 16px;
  }

  .versionescritorio{
    display: block;
    height: 70vh;
    @media only screen and (max-width : 570px)
    {
        display: none;
    }
}

.custom-shape-divider-bottom-1666333013 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 200px;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.custom-shape-divider-bottom-1666333013_v2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.acomodando{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.texto1{
    font-weight: 200;
}

.personalizar{
    color: #fc494a;
    background: #e7f0fe;
}


.bloque{
  border:1px dotted black;
  border-radius: 20px;
  width: 160px;
  height: 160px;
  text-align: center;
  overflow: auto;
  .bloque-body{
    margin:20px;
    img{
      margin: auto;
      width: 90px;
      border-radius: 100%;
    }
    p{
      font-size: large;
      font-weight: 900;
      word-wrap: break-word;
    }
  }

  &:hover{
    background-color: #ffdd75;
    cursor: pointer;
    .bloque-body{
      img{

      }
    }
  }
}


.foco:hover{
  background: gray;
  border-color: gray;
}
.seleccionado{
  background-color: #fc4a4a !important;
  color: white;
}
