<div  class="row vh-100">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6  col-sm-12 col-xs-12 sinborder" style="display: flex; justify-content: center; align-items: center;">
        <div class="row">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    
                <div class="form-group row ">
                    <div class="row">
                        <div class="col centrar">
                            <h1>Inicia Sesión</h1>
                            <p>La revolución digital restaurantera es tuya!</p>
                        </div>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input autocomplete="off"  formControlName="username" type="email" [class.is-invalid]="f.username.touched && f.username.invalid" [class.is-valid]="f.username.touched && f.username.valid" class="form-control " id="floatingInput" >
                        <label for="floatingInput">Correo eléctronico</label>
                        <div  class="invalid-feedback">
                            <div class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                <span *ngIf="f.username.touched && f.username.errors?.required">Campo requerido</span>
                                <span *ngIf="f.username.touched && f.username.errors?.email">Correo inválido</span>
                              </div>
                        </div>
                    </div>
                   
            
            
                    <div class="form-floating mb-3 col-12 passwordinput">
                        <input  formControlName="password" [class.is-invalid]="f.password.touched && f.password.invalid" [class.is-valid]="f.validpassword.touched && f.validpassword.valid" [type]="verPassword?'text':'password'" class="form-control" id="floatingInput" >
                        <span *ngIf="vacio(f.password.value) && !verPassword" (click)="verPassword=true" class="material-icons mr-4 alerta">
                            visibility
                            </span>
                            <span *ngIf="vacio(f.password.value) && verPassword" (click)="verPassword=false" class="material-icons mr-4 alerta">
                                visibility_off
                                </span>
                        <label for="floatingInput">Contraseña</label>
                 
                        <div  class="invalid-feedback">
                            <div *ngIf="f.password.touched && f.password.errors?.required" class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                <span >Campo requerido</span>
                              </div>
                        </div>
            
                    
                   </div>
            
            
            
                    <div class="mb-3 col-12">
                        <label class="contenedorInputCheckRadio"> Deseo recordar la sesión
                            <input formControlName="mantener" [class.is-invalid]="f.mantener.touched && f.mantener.invalid"  id="esAjusteMensualIsr" type="checkbox">
                            <div *ngIf="f.mantener.touched && f.mantener.invalid" class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                Campo requerido
                              </div>
                            <span class="checkmark"></span>
                          </label>
                          <div  class="invalid-feedback">
                           
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button  class="btn btn-primary" type="submit">
                            <div *ngIf="cargando" class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="!cargando"> Iniciar</span>
                           </button>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-5" style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;" >
        <img src="../../../../../assets/imagenes/logochef.svg" width="200px"  alt="" srcset="">
        <div>
            <p style="font-size: 20px; color: rgb(163, 59, 59); font-family: 'Lato', sans-serif;">
                Atiendelos, una aplicación de medida a su medica, ¡¡BIENVENIDO!!
            </p>
        </div>
    </div>
</div>


