<div  class="row vh-100">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6  col-sm-12 col-xs-12 sinborder" style="display: flex; justify-content: center; align-items: center;">
        <div class="row" style="z-index: 1;">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    
                <div class="form-group row ">
                    <div class="row">
                        <img style="    width: 12em;" src="../../../../../assets/imagenes/logochef.svg" class="rounded mx-auto d-block" alt="" srcset="">
                    </div>
                    <div class="row">
                        <div class="col centrar">
                            <h1>Inicia Sesión</h1>
                            <p>La revolución digital restaurantera es tuya!</p>
                        </div>
                    </div>
                    <div class="form-floating mb-3 col-12">
                        <input autocomplete="off"  formControlName="username" type="email" [class.is-invalid]="f.username.touched && f.username.invalid" [class.is-valid]="f.username.touched && f.username.valid" class="form-control " id="floatingInput" >
                        <label for="floatingInput">Correo eléctronico</label>
                        <div  class="invalid-feedback">
                            <div class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                <span *ngIf="f.username.touched && f.username.errors?.required">Campo requerido</span>
                                <span *ngIf="f.username.touched && f.username.errors?.email">Correo inválido</span>
                              </div>
                        </div>
                    </div>
                   
            
            
                    <div class="form-floating mb-3 col-12 passwordinput">
                        <input  formControlName="password" [class.is-invalid]="f.password.touched && f.password.invalid" [class.is-valid]="f.validpassword.touched && f.validpassword.valid" [type]="verPassword?'text':'password'" class="form-control" id="floatingInput" >
                        <span *ngIf="vacio(f.password.value) && !verPassword" (click)="verPassword=true" class="material-icons mr-4 alerta">
                            visibility
                            </span>
                            <span *ngIf="vacio(f.password.value) && verPassword" (click)="verPassword=false" class="material-icons mr-4 alerta">
                                visibility_off
                                </span>
                        <label for="floatingInput">Contraseña</label>
                 
                        <div  class="invalid-feedback">
                            <div *ngIf="f.password.touched && f.password.errors?.required" class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                <span >Campo requerido</span>
                              </div>
                        </div>
            
                    
                   </div>
            
            
            
                    <div class="mb-3 col-12">
                        <label class="contenedorInputCheckRadio"> Deseo recordar la sesión
                            <input formControlName="mantener" [class.is-invalid]="f.mantener.touched && f.mantener.invalid"  id="esAjusteMensualIsr" type="checkbox">
                            <div *ngIf="f.mantener.touched && f.mantener.invalid" class="alert alert-danger" role="alert">
                                <span class="material-icons mr-4 alerta">
                                    error
                                    </span>
                                Campo requerido
                              </div>
                            <span class="checkmark"></span>
                          </label>
                          <div  class="invalid-feedback">
                           
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button  class="btn btn-primary" type="submit">
                            <div *ngIf="cargando" class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span *ngIf="!cargando"> Iniciar</span>
                           </button>
                      </div>
                      <div class="d-grid gap-2">
                        <a href="#" (click)="false">¿Olvidaste tu contraseña?</a>
                      </div>
                </div>
            </form>
        </div>
    </div>
    <div style="border: 0;" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 principal-background " >
      
        <div class="text-center d-flex justify-content-center acomodando" >
            <div class="text-white align-self-center ">
                <h1 class="texto1" >Bienvenido a Atiendelos.</h1>
            <h6 class="text-white align-self-center texto1">Empieza ya a atender con ATIENDELOS!!.</h6>
            <div class="d-grid gap-2">
                <button routerLink="/auth/crearcuenta" type="button" class="btn btn-primary personalizar">Registrarme</button>

            </div>
            </div>
        </div>
       
        
        <div class="custom-shape-divider-bottom-1666333013">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,128L34.3,154.7C68.6,181,137,235,206,240C274.3,245,343,203,411,160C480,117,549,75,617,64C685.7,53,754,75,823,101.3C891.4,128,960,160,1029,149.3C1097.1,139,1166,85,1234,69.3C1302.9,53,1371,75,1406,85.3L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
        </div>
        
    </div>
</div>


