<div class="row barrasuperior mb-5 ml-2 mr-2">
  <div class="col titulo-outlet">
    <button (click)="mostrarmenu()" class="btn-menu"><i  class="bi bi-list"></i></button>
       <label>REGISTRAR NUEVO ROL</label>
  </div>
</div>

<main class="miformulario">
	<div class="form-wrap">
		<form [formGroup]="myForm" (ngSubmit)="enviar()" id="survey-form">
      <div class="row">
        <div class="col-12">
          <h2 id="title" class="fw-bold text-secondary">Registrar nuevo rol</h2>
        </div>
      </div>
			<div class="row">
				<div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Nombre rol</mat-label>
            <input matInput type="text" formControlName="rol" >
            <mat-error *ngIf="f.invalid && f.touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
			</div>

			<div class="row">
        <div class="accordion" id="accordionExample">
        </div>
        <div class="row">
          <div class="col-12">
            <ng-container *ngFor="let mm of modulos">
            <mat-accordion multi>
              <mat-expansion-panel *ngFor="let modulo of mm.modulos">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong>{{modulo.nombre}}</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                  <div *ngFor="let submenu of modulo.submodulos" class="col-md-4">
                    <div class="form-check">
                      <input  [(ngModel)]="submenu.seleccionado" [ngModelOptions]="{standalone: true}"  class="form-check-input" type="checkbox" id="changesMade">
                      <label class="form-check-label" for="changesMade">
                        <strong>{{submenu.nombre}}</strong>
                      </label>
                      <div class="multiple">
                        <div *ngFor="let permiso of submenu.permisos" class="form-check">
                          <input [(ngModel)]="permiso.seleccionado" [ngModelOptions]="{standalone: true}" class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            {{permiso.nombre}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
            </ng-container>


          </div>
        </div>
			</div>
      <mat-divider></mat-divider>

		<footer>
      <div class="row mt-5">
				<div class="col-12 text-end">
          <button mat-button type="button" (click)="cancelar()" color="accent">Cancelar</button>
          <button mat-button type="submit" color="primary">Guardar</button>
				</div>
			</div>
    </footer>

		</form>
	</div>
</main>
