<div class="row barrasuperior mb-5 ml-2 mr-2">
  <div class="col titulo-outlet">
      <button (click)="comeback()" class="btn-menu"><i  class="bi bi-arrow-left-square"></i></button>
       <label>REGISTRAR NUEVO ROL</label>
  </div>
</div>

<main class="miformulario">
	<div class="form-wrap">
		<form id="survey-form">
      <div class="row">
        <div class="col-12">
          <header class="header">
            <h3 id="title" class=" text-secondary">Registrar nuevo rol</h3>
          </header>
        </div>
      </div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label id="name-label" class="fw-bold" for="name">Nombre rol</label>
						<input type="text" name="name" id="name" placeholder="Nombre rol" class="form-control" required>
					</div>
				</div>
			</div>

			<div class="row">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Administración
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade">
                      <label class="form-check-label" for="changesMade">
                        Roles
                      </label>
                      <div class="multiple">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            Agregar
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            Modificar
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade">
                      <label class="form-check-label" for="changesMade">
                        Usuarios
                      </label>
                      <div class="multiple">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            Agregar
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            Modificar
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade">
                      <label class="form-check-label" for="changesMade">
                        Seguimiento alumnos
                      </label>
                      <div class="multiple">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade">
                          <label class="form-check-label" for="changesMade">
                            Consultar
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="row mt-5">
				<div class="col-12 text-end">
					<button type="submit" id="submit" class="btn btn-primary btn-block">Guardar</button>
				</div>
			</div>

		</form>
	</div>
</main>
