<div class="row barrasuperior mb-5 ml-2 mr-2">
  <div class="col titulo-outlet">
      <button (click)="mostrarmenu()" class="btn-menu"><i  class="bi bi-list"></i></button>
       <label>LISTA DE USUARIOS</label>
  </div>
</div>



<main class="container">

  <div class="row">
    <div class="col-12 text-end">
      <button (click)="agregar()" routerLinkActive="router-link-active"  class="btn btn-light">
        Agregar<i class="bi bi-plus"></i>
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <!-- <app-tabla-generica [tabla]="tabla" [modificar]="true" [eliminar]="true" ></app-tabla-generica> -->
    </div>
  </div>

</main>
