:root {
    --principal: #fc4a4a;
    --secundario: #46b7e0;
    --fondo: #f4f2f2;
    --blanco:white;
    --input:#ecf1f4;
    --inputlight:#f5f6f9;
    --inputdark:#cccccc;
    --gray:rgb(102, 102, 102);

  }

  $primary:var(--principal);
  $secondary:var(--fondo);
  $white:var(--blanco);
  $input:var(--input);
  $inputlight:var(--inputlight);
  $inputdark:var(--inputdark);


  * {
    box-sizing: border-box;
}
body,html {
  margin: 0;
  padding: 0;
}
