<div class="row barrasuperior mb-5 ml-2 mr-2">
  <div class="col titulo-outlet">
    <button (click)="mostrarmenu()" class="btn-menu"><i  class="bi bi-list"></i></button>
       <label>REGISTRAR NUEVO USUARIO</label>
  </div>
</div>



<main class="miformulario">
	<div class="form-wrap">

		<form [formGroup]="myForm" (ngSubmit)="enviar()" id="survey-form">
      <div class="row">
        <div class="col-12">
          <h2 id="title" class="fw-bold text-secondary">Registrar nuevo usuario</h2>
        </div>
      </div>
			<div class="row">
				<div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" >
            <mat-error *ngIf="f['nombre'].invalid && f['nombre'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Primer apellido</mat-label>
            <input matInput type="text" formControlName="primerApellido" >
            <mat-error *ngIf="f['primerApellido'].invalid && f['primerApellido'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Segundo apellido</mat-label>
            <input matInput type="text" formControlName="segundoApellido" >
            <mat-error *ngIf="f['segundoApellido'].invalid && f['segundoApellido'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Usuario o Correo electrónico</mat-label>
            <input matInput type="text" formControlName="correo" >
            <mat-error *ngIf="f['correo'].invalid && f['correo'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" formControlName="telefono" >
            <mat-error *ngIf="f['telefono'].invalid && f['telefono'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div class="col-md-7">
          <mat-form-field style="width: 100%;" class="fecha">
            <mat-label>Fecha de nacimiento</mat-label>
            <input formControlName="fechaNacimiento" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="f['fechaNacimiento'].invalid && f['fechaNacimiento'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
        </div>

			</div>
      <div class="row mt-5">
        <div class="col-md-6">
          <mat-form-field class="example-form-field"  color="primary">
            <mat-label>Contraseña o llave</mat-label>
            <input matInput type="text" formControlName="password" >
            <mat-error *ngIf="f['password'].invalid && f['password'].touched">Campo obligatorio</mat-error>
          </mat-form-field>
				</div>
        <div formGroupName="rol" class="col-md-6">
          <mat-form-field>
            <mat-label>Seleccionar rol</mat-label>
            <mat-select formControlName="id">
              <mat-option *ngFor="let rol of roles" [value]="rol.id">
                {{rol.nombre}}
              </mat-option>
            </mat-select>
             <mat-error *ngIf="f['rol'].invalid && f['rol'].touched">Campo obligatorio</mat-error>

          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>

		<footer>
      <div class="row mt-5">
				<div class="col-12 text-end">
          <button (click)="cancelar()" type="button" mat-button type="submit" color="accent">Cancelar</button>
          <button mat-button type="submit" color="primary">Guardar</button>
				</div>
			</div>
    </footer>

		</form>
	</div>
</main>
